.navbar a{
  color: #0275d8;
  font-weight: 700;
}
.navbar ul a{
    color: black;
    transition: 0.5s all ease-in;
    text-decoration: none  #0275d8;
}

.active-class{
  font-size: larger;
  text-decoration: underline  #0275d8;

}
