<nav class="navbar ">
  <div class="container">

    <div class="col-12">
      <div class="navbar-header">
        <a href="#" class="navbar-brand" routerLink="/">Uni Website</a>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active-class"><a routerLink="/universities-list">Universities</a></li>
          <li routerLinkActive="active-class"><a routerLink="/wish-list">Wish List</a></li>
        </ul>
      </div>
    </div>

  </div>

</nav>
