<table class="table">
  <thead>
    <tr>
      <th scope="col">Uniersity Name</th>
      <th scope="col">Country</th>
      <th scope="col">Checked</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let uni of wishList" [ngClass]="{'checked':uni.checked}">
      <th scope="row">{{uni.name}}</th>
      <td>{{uni.countryName}}</td>
      <td (click)="toggleChecked(uni.id)"><span *ngIf="!uni.checked" class="glyphicon glyphicon-ok"></span>
        <span class="glyphicon glyphicon-saved" *ngIf="uni.checked"></span>
      </td>
      <td><span class="glyphicon glyphicon-remove" (click)="removeFromWishList(uni.id)"></span></td>
    </tr>
  </tbody>
</table>
