<div class="col-sm-6 col-lg-4 col-12">
  <div class="card-container rounded">
    <div class="card">
      <div class="slide slide1 rounded">
        <div class="content">
          <div class="card-info text-white">
            <h5 class="col-12 text-center ">{{university.name}}</h5>
            <p class="col-12 text-center">Country: {{university.countryName}}</p>
            <p class="col-12 text-center">Country Code: {{university.countryCode}}</p>
          </div>
        </div>
      </div>
      <div class="slide slide2">
        <div class="content">
          <button class="btn btn-primary">
            <a [href]="university.url" target="_blank">Visit Website</a>
          </button>
          <button *ngIf="!university.wishListed" (click)="addToWishList(university)" type="button"
            class="btn btn-default">
            <span *ngIf="!university.wishListed" class="glyphicon glyphicon-heart-empty"></span>
            <span *ngIf="university.wishListed" class="glyphicon glyphicon-heart"></span>
            <span>Favourit This</span>
          </button>
          <button *ngIf="university.wishListed" (click)="removeFromWishList(university.id)" type="button"
            class="btn btn-default" data-toggle="tab"><span class="glyphicon glyphicon-heart"></span>
            <span>Remove</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
